body {
    background-color: black;
    color: white;
    font-family: "DejaVu Sans", "Arial", "Helvetica", sans-serif;
}
#loginner {
    height: 40ex;
    overflow-y: scroll;
}
.boxinner {
    padding: 0.5ex;
    margin-top: -1.75ex;
}
.box {
    border: 1px solid white;
    margin: 0.5ex;
    margin-top: 1em;
}
#log tbody {
    font-family: "DejaVu Sans Mono", "Lucida Console", "Monaco", monospace;
}
#log tr {
    margin: 0;
    padding: 0;
}
#log td {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 0.1ex;
    padding-bottom: 0.1ex;
    margin: 0;
}
#log .DEBUG .level {
    color: rgb(127,127,255);
}
#log .INFO .level {
    color: rgb(127,255,127);
}
#log .WARNING .level {
    color: rgb(255,255,127);
}
#log .ERROR .level {
    color: rgb(255,127,127);
}
#log .CRITICAL .level {
    color: rgb(255,0,0);
}

#log .terrarium .module {
    color: rgb(127,255,255);
}

#lamp .on {
    color: rgb(127,255,127);
}
#lamp .off {
    color: rgb(127,127,255);
}

#sm .wet {
    color: rgb(127,255,127);
}
#sm .water {
    color: rgb(127,127,255);
}
#sm .dry {
    color: rgb(255,255,127);
}
#sm p {
    margin: 0;
}

.box .caption {
    display: block;
    position: relative;
    text-align: left;
    top: -1.25ex;
    z-index: 2;
    background-color: black;
    width: max-content;
    margin-left: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.box .ct-label {
    color: white;
}
.box .ct-chart {
/*    width: 40em; */
}
